<h1>Lista de articulos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Texto</th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Mostrar', article_path(article) %></td>
        <td><%= link_to 'Editar', edit_article_path(article)%></td>
        <td><%= link_to 'Omae wa mou shindeiru', article_path(article),
                        method: :delete,
                        data: { confirm: '¿¡Nani!?' } %></td>
      </tr>
  <% end %>
</table>

<div>
  <%= link_to 'Regresar', welcome_index_path %>
</div>